<ion-view class="page-background" title="Main Page" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="dashboardCtrl">
            <div class="col">
                <!-- temp style color -->
                <div>
                    <a class="colorpicker-maintitle"> DASHBOARD</a>
                    <a>
                        <img class="dashboard-title-picture" src="../img/Dash_white_plus.png" ng-click="modal.show()"/>
                    </a>
                </div>
                <!-- dashboard List -->

                <div class="list card" ng-repeat="lists in list">
                    <!-- modify -->
                    <!-- row ,col 활용 따로 만들기 -->
                    <!--<div class="row">-->
                    <div class="item item-divider">
                        <a> {{lists.title}} </a>
                        <img style="float : right" src="../img/wastebasket.png" alt="image load error" width="15"
                        height="15" ng-click="remove(lists)">
                    </div>
                    <!--</div>-->
                    <div class="item item-body colorpicker-subtitle">
                        <a class = "dashboard-sub-title"> Location :
                            {{lists.href_link}} </a>
                        <img style="float : right; " src="../img/white-arrow.png" alt="image load error"
                             height="35" width="55" ng-click="goControlRoom('#/page1/'+lists.href_link);">
                    </div>
                </div>
                <!-- 19.2.1 modal create -->
                <script id="createForm" type="text/ng-template">
                    <ion-modal-view style="background-color : rgba(0,0,0,0.6);" title="Create">
                        <ion-content overflow-scroll="true" padding="true" class="has-header">
                            <div class="item item-divider" style="top:25%; margin:20px 10px;"> Create Control Room
                            </div>
                            <div class="item item-body" style="top:25%; margin:20px 10px;">
                                <form id="list"> <!-- need css class -->
                                    <!--<div class="dashboard-title">-->
                                    <!--<a > Insert Control Room Title</a>-->
                                    <!--</div>-->
                                    <div style = "max-width : 100%;">
                                        <label class="dashboard-title"> TITLE </label>
                                        <input class="dashboard-title-text" style="display : inline; " type="text"
                                               ng-model="modal.listTitle">
                                    </div>

                                    <br>
                                    <label class="dashboard-title"> Room Number </label>

                                    <select class="" style="color : #ffffff" ng-model="href_value"
                                            ng-init="href_value = 'Control Room 01'">
                                        <option style="color : #000000" value="Control Room 01" ng-selected="true"
                                                selected="href_value === 'Control Room 01'">Room 01
                                        </option>
                                        <option style="color : #000000" value="Control Room 02">Room 02</option>
                                        <option style="color : #000000" value="Control Room 03">Room 03</option>
                                        <option style="color : #000000" value="Control Room 04">Room 04</option>
                                    </select>
                                    <br>
                                    <br>
                                    <div style = "text-align: center">
                                        <button class="dashboard-title-button" ng-click="addList(href_value)"> add
                                        </button>
                                        <button class="dashboard-title-button" ng-click="modal.hide()"> cancel</button>
                                    </div>
                                </form>
                            </div>
                        </ion-content>
                    </ion-modal-view>
                </script>
            </div>
        </div>
    </ion-content>
</ion-view>


