<ion-view style="" class=" " id="page10" title="login">
    <ion-content class="has-header" padding="true"
                 style="background: url(img/background-black-theme.jpg) center; baimg/background-black-themeckground-size: cover;">
        <form name="loginForm" class="list " id="login-form1">
            <ion-list class=" " id="login-list2">
                <div class="app-icon"></div>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #fffcfd;">Email</span>
                    <input ng-model="user.email" style="color: white;" type="email" placeholder="Email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #fffcfd;">Password</span>
                    <input ng-model="user.password" style="color: white;" type="password" placeholder="Password"
                           required>
                </label>

            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button ng-click="loginsEmail(loginForm,user)"
                    class=" button button-stable  button-block  icon-left ion-ios-email-outline " id="signup-button3">
                LOGIN
            </button>
            <button onClick="window.location.href='/#/page1/page11'"
                    class="button button-stable button-block icon-left ion-android-arrow-back"> SIGN UP
            </button>
            <!--<ion-item>-->
                <!--<h2 style="color : #ffffff"> test login</h2>-->
                <!--<button ng-click="testConnect(loginForm,user)"-->
                        <!--class=" button button-stable  button-block  icon-left ion-ios-email-outline "-->
                        <!--id="signup-button4">testConnect-->
                <!--</button>-->
                <!--<button ng-click="testLogout()"-->
                        <!--class=" button button-stable  button-block  icon-left ion-ios-email-outline "-->
                        <!--id="signup-button5">testLOGOUT-->
                <!--</button>-->
                <!--<button ng-click="userTest()"-->
                        <!--class=" button button-stable  button-block  icon-left ion-ios-email-outline "-->
                        <!--id="signup-button6">testUserCheck-->
                <!--</button>-->
            <!--</ion-item>-->
        </form>
    </ion-content>
</ion-view>