<ion-view class = "page-background" title="settings" id="page12">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div ng-controller="settings" ng-model="settings">
            <!--<div class = "row">-->
            <!--<div class="list card">-->
            <div class="item item-divider"> Account</div>
            <div ng-click="pwChange()" class="item item-body">
                <a style="color: white">Password Change</a>
            </div>
            <div ng-click="delAccount()" class="item item-body">
                <a style = "color : white">Account Delete</a>
            </div>
            <div class="item item-divider"> Network</div>
            <div class="item item-body">
                <a style=" position:absolute; font-size : 17px; margin: 1%; color : white; " > Local Version Mode </a>
                <label class="toggle" style="float : right">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="settings-footer" style="text-align: left; color: white;">
                <div class="item item-divider" style = "background-color : black; "> Current Version</div>
                <div class="item item-body" style="color: white">Ver. beta v0.1.1</div>
            </div>
        </div>
    </ion-content>
</ion-view>


<!--showPopup.then(function (password) {-->

<!--var credential = firebase.auth.EmailAuthProvider.credential(user.email, password)-->

<!--user.reauthenticateAndRetrieveDataWithCredential(credential).then(function () {-->
<!--user.delete().then(function () {-->

<!--var ref = firebase.database().ref('LED Control List / ' + user.uid);-->
<!--var lists = $firebaseArray(ref);-->

<!--lists.$loaded().then(function () {-->
<!--for (let i = 0; i < lists.length; i++) {-->
<!--lists.$remove(lists[i]).then(function (ref) {-->

<!--const list_id = lists.$keyAt(lists[0]);-->
<!--const list_number = lists.$indexFor(list_id);-->
<!--const local_list = listStorage.get("list_data");-->
<!--local_list.splice(list_number, 1);-->
<!--listStorage._setToLocalStorage("list_data", local_list);-->
<!--})-->
<!--}-->
<!--});-->
<!--alert("Delete Complete");-->
<!--}).catch(function (error) {-->
<!--alert(error.message);-->
<!--})-->
<!--}).catch(function (error) {-->
<!--alert(error.message);-->
<!--});-->