<ion-view style="" class=" " id="page11" title="sign_up">
    <ion-content class="has-header" padding="true" style="background: url(img/background-black-theme.jpg) center; background-size: cover;">
        <form name="signupForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">
                <div class="app-icon"></div>
                <label class="item item-input item-floating-label">
                    <span style="color: #fffcfd;" class="input-label">Email</span>
                    <input style="color: #ffffff;" ng-model="user.email" type="email" placeholder="Email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span style="color: #fffcfd;" class="input-label">Password</span>
                    <input style="color: #ffffff;" ng-model="user.password" type="password" placeholder="Password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span style="color: #fffcfd;" class="input-label">Re-enter Password</span>
                    <input style="color: #ffffff;" ng-model="user.re_password" type="password" placeholder="Re-enter Password" required>
                </label>


            </ion-list>
            <div style="width: 279px; height: 35px;" class="spacer"></div>
            <button ng-click="signupEmail(signupForm,user)" class=" button button-stable  button-block  icon-left ion-ios-email-outline " style="border-radius:0px 0px 0px 0px;" id="signup-button3"> Sign up </button>
            <button onClick= "window.location.href='/#/page1/page10'" class = "button button-stable button-block icon-left ion-android-arrow-back" > Cancel </button>

        </form>
    </ion-content>
</ion-view>