<ion-view title="Tabs Controller" id="page1">
    <div ng-controller="tabsCtrl">
        <ion-tabs class="tabs-stable tabs-icon-top ">
            <ion-tab title="Main" icon = "ion-ios-home" href="#/page1/page2" ng-click ="login_check(href)">
                <ion-nav-view name="tab1"></ion-nav-view>
            </ion-tab>
            <ion-tab class="tab-hidden" title="LED_1" href="#/page1/Control%20Room%2001" >
                <ion-nav-view name="tab4"></ion-nav-view>
            </ion-tab>

            <ion-tab class="tab-hidden" title="LED_2" href="#/page1/Control%20Room%2002">
                <ion-nav-view name="tab5"></ion-nav-view>
            </ion-tab>

            <ion-tab class="tab-hidden" title="LED_3" href="#/page1/Control%20Room%2003">
                <ion-nav-view name="tab6"></ion-nav-view>
            </ion-tab>
            <ion-tab class="tab-hidden" title="LED_4" href="#/page1/Control%20Room%2004">
                <ion-nav-view name="tab7"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Remote_Control" icon = "ion-flash" href="#/page1/page9" ng-click = "login_check(href)">
                <ion-nav-view name="tab8"></ion-nav-view>
            </ion-tab>
            <ion-tab class="tab-hidden" title="login" href="#/page1/page10">
                <ion-nav-view name="tab9"></ion-nav-view>
            </ion-tab>
            <ion-tab class="tab-hidden" title="sign_up" href="#/page1/page11">
                <ion-nav-view name="tab10"></ion-nav-view>
            </ion-tab>

            <!-- settings form -->
            <!-- need side menu -->
            <ion-tab title="settings" icon = "ion-gear-a"href="#/page1/page12">
                <ion-nav-view name="tab11"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-view>